@model CustomerProductsEditModel

@{
    var showTour = ViewBag.ShowTour ?? false;
    await Html.RenderPartialAsync("_CustomerProductsScripts.cshtml");
}

<input class="product-id" asp-for="@Model.Product.Id" type="hidden" />
<nop-cards id="product-cards">
    <div class="card-body">
        <div id="product-details-area">
            <div>
                <div class="form-group row">
                    <div class="col-md-3">
                        <nop-label asp-for="@Model.Product.Name" asp-postfix=":" />
                    </div>
                    <div class="col-md-9">
                    <nop-editor asp-for="@Model.Product.Name" />
                        <nop-required />
                    <span asp-validation-for="@Model.Product.Name"></span>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-md-3">
                    <nop-label asp-for="@Model.Product.ShortDescription" asp-postfix=":" />
                    </div>
                    <div class="col-md-9">
                    <nop-editor asp-for="@Model.Product.ShortDescription" />
                        <nop-required />
                    <span asp-validation-for="@Model.Product.ShortDescription"></span>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-md-3">
                    <nop-label asp-for="@Model.Product.FullDescription" asp-postfix=":" />
                    </div>
                    <div class="col-md-9">
                    <nop-editor asp-for="@Model.Product.FullDescription" asp-template="RichEditor" />
                        <span asp-validation-for="@Model.Product.FullDescription"></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <div class="card-body">
        @if (Model.Product.Id > 0)
        {
            <nop-tabs id="productmultimedia-edit" asp-tab-name-to-select="tab-pictures" asp-render-selected-tab-input="false">
                <nop-tab asp-name="tab-pictures" asp-title="@T("Plugin.Widgets.CustomerProducts.Catalog.Products.Multimedia.Pictures")" asp-default="true">
                    @await Html.PartialAsync("_CreateOrUpdate.Multimedia.Pictures.cshtml", Model.Product)
                </nop-tab>
                <nop-tab asp-name="tab-videos" asp-title="@T("Plugin.Widgets.CustomerProducts.Catalog.Products.Multimedia.Videos")">
                    @await Html.PartialAsync("_CreateOrUpdate.Multimedia.Videos.cshtml", Model.Product)
                </nop-tab> 
            </nop-tabs>
        }
        else
        {
            <div class="card card-default">
                <div class="card-body">
                    @T("Plugin.Widgets.CustomerProducts.Catalog.Products.Multimedia.PicturesVideos.SaveBeforeEdit")
                </div>
            </div>
        }
    </div>
</nop-cards>
@await Component.InvokeAsync(typeof(WidgetViewComponent), new { widgetZone = PublicWidgetZones.ProductBottom, additionalData = Model })
<style>
    .ico-help{
        display: inline;
        margin-left: 5%;
        color: #3c8dbc;
        font-size: 1.17em;
        padding-left: 6px;
    }
    .text-box{
        width: 95%;
        display: inline;
    }
</style>