@model CustomerProductModel

@{
    var showTour = ViewBag.ShowTour ?? false;

    // const string hideInfoBlockAttributeName = "ProductPage.HideInfoBlock";
    // var customer = await workContext.GetCurrentCustomerAsync();
    // var hideInfoBlock = showTour ? false : await genericAttributeService.GetAttributeAsync<bool>(customer, hideInfoBlockAttributeName);

}

<script src="~/lib_npm/jquery-tageditor/jquery.caret.min.js"></script>
<script src="~/lib_npm/jquery-tageditor/jquery.tag-editor.min.js"></script>
<link rel="stylesheet" href="~/lib_npm/jquery-tageditor/jquery.tag-editor.css">

<input class="product-id" asp-for="Id" type="hidden" />
<div class="edit-product">
    <div class="inputs">
        <label asp-for="Name" asp-postfix=":"></label>
        <input asp-for="Name" />
        <nop-required />
        <span asp-validation-for="Name"></span>
    </div>
    <div class="inputs">
        <label asp-for="ShortDescription" asp-postfix=":"></label>
        <input asp-for="ShortDescription" />
        <nop-required />
        <span asp-validation-for="ShortDescription"></span>
    </div>
    <div class="inputs">
        <label asp-for="FullDescription" asp-postfix=":"></label>
        <nop-editor asp-for="FullDescription" asp-template="RichEditor" />
        <nop-required />
        <span asp-validation-for="FullDescription"></span>
    </div>

  @*   <div class="card-body">
        <div id="product-details-area">
            @(await Html.LocalizedEditorAsync<CustomerProductModel, ProductLocalizedModel>("product-info-localized",
                @<div>
                    <div class="form-group row">
                        <div class="col-md-3">
                            <nop-label asp-for="@Model.Locales[item].Name" />
                        </div>
                        <div class="col-md-9">
                            <nop-editor asp-for="@Model.Locales[item].Name" />
                            <span asp-validation-for="@Model.Locales[item].Name"></span>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-md-3">
                            <nop-label asp-for="@Model.Locales[item].ShortDescription" />
                        </div>
                        <div class="col-md-9">
                            <nop-textarea asp-for="@Model.Locales[item].ShortDescription" />
                            <span asp-validation-for="@Model.Locales[item].ShortDescription"></span>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-md-3">
                            <nop-label asp-for="@Model.Locales[item].FullDescription" />
                        </div>
                        <div class="col-md-9">
                            <nop-editor asp-for="@Model.Locales[item].FullDescription" asp-template="RichEditor" />
                            <span asp-validation-for="@Model.Locales[item].FullDescription"></span>
                        </div>
                    </div>
                    <input type="hidden" asp-for="@Model.Locales[item].LanguageId" />
                </div>
                ,
                @<div>
                    <div class="form-group row">
                        <div class="col-md-3">
                            <nop-label asp-for="Name" />
                        </div>
                        <div class="col-md-9">
                            <nop-editor asp-for="Name" asp-required="true" />
                            <span asp-validation-for="Name"></span>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-md-3">
                            <nop-label asp-for="ShortDescription" />
                        </div>
                        <div class="col-md-9">
                            <nop-textarea asp-for="ShortDescription" />
                            <span asp-validation-for="ShortDescription"></span>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-md-3">
                            <nop-label asp-for="FullDescription" />
                        </div>
                        <div class="col-md-9">
                            <nop-editor asp-for="FullDescription" asp-template="RichEditor" />
                            <span asp-validation-for="FullDescription"></span>
                        </div>
                    </div>
                </div>))
        </div>
    </div> *@

    @await Component.InvokeAsync(typeof(WidgetViewComponent), new { widgetZone = PublicWidgetZones.ProductBottom, additionalData = Model })

</div>
