@model ConfigurationModel

@{
    Layout = "_AdminLayout";
    ViewBag.PageTitle = T("Sparkling.Plugin.Widgets.CustomerProducts.Configuration").Text;
    NopHtml.SetActiveMenuItemSystemName("Sparkling.Plugin.Widgets.CustomerProducts.Configure");

    const string hidePluginConfigureBlockAttributeName = "PluginConfigurationPage.HidePluginConfigureBlock";
    var hidePluginConfigureBlock = await genericAttributeService.GetAttributeAsync<bool>(await workContext.GetCurrentCustomerAsync(), hidePluginConfigureBlockAttributeName);
}

<form asp-controller="CustomerProducts" asp-action="Configure" method="post">
    <div class="content-header clearfix">
        <h1 class="float-left">
            @T("Sparkling.Plugin.Widgets.CustomerProducts.Configuration") - @T("Plugin.Widgets.CustomerProducts.ChildMenu.CustomerProducts")
            <small>
                <i class="fas fa-arrow-circle-left"></i>
                <a asp-action="List" asp-controller="Widget">@T("Admin.ContentManagement.Widgets.BackToList")</a>
            </small>
        </h1>
    </div>
    <section class="content">
        <div class="container-fluid">
            <div class="form-horizontal">
                <nop-cards id="configure-cards">
                    <nop-card asp-name="configure-card" asp-icon="fas fa-info" asp-title="@T("Sparkling.Plugin.Widgets.CustomerProducts.Configuration")" asp-hide-block-attribute-name="@hidePluginConfigureBlockAttributeName" asp-hide="@hidePluginConfigureBlock" asp-advanced="false">
                        <div class="card-body">
                            <div class="form-group row">
                                <div class="col-md-3">
                                    <nop-label asp-for="EnablePlugin" />
                                </div>
                                <div class="col-md-9">
                                    <nop-editor asp-for="EnablePlugin" />
                                    <span asp-validation-for="EnablePlugin"></span>
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-md-3">
                                    <nop-label asp-for="ShortDescriptionEnabled" />
                                </div>
                                <div class="col-md-9">
                                    <nop-editor asp-for="ShortDescriptionEnabled" />
                                    <span asp-validation-for="ShortDescriptionEnabled"></span>
                                </div>
                            </div>
                            <nop-nested-setting asp-for="ShortDescriptionEnabled">
                            <div class="form-group row">
                                <div class="col-md-3">
                                    <nop-label asp-for="ShortDescriptionRequired" />
                                </div>
                                <div class="col-md-9">
                                    <nop-editor asp-for="ShortDescriptionRequired" />
                                    <span asp-validation-for="ShortDescriptionRequired"></span>
                                </div>
                            </div>
                            </nop-nested-setting>
                            <div class="form-group row">
                                <div class="col-md-9 offset-md-3">
                                    <button type="submit" name="save" class="btn btn-primary">
                                        <i class="far fa-save"></i>
                                        @T("Admin.Common.Save")
                                    </button>
                                </div>
                            </div>
                        </div>
                    </nop-card>
                </nop-cards>
            </div>
        </div>
    </section>
</form>
